<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@sersol/ngx documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/vagrant.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">@sersol/ngx documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Escribe para buscar"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Componentes</li>
  <li>SerFormElementComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>Fichero</h3>
</p>
<p class="comment">
    <code>src/form/ser-form-element/ser-form-element.component.ts</code>
</p>





<section>
    <h3>Meta datos</h3>
    <table class="table table-sm table-hover">
        <tbody>


            <tr>
                <td class="col-md-3">encapsulation</td>
                <td class="col-md-9"><code>ViewEncapsulation.None</code></td>
            </tr>









            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ser-form-element</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ng-content&gt;&lt;/ng-content&gt;</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Índice</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Propiedades</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#formElement">formElement</a>
                            </li>
                            <li>
                                <a href="#observer">observer</a>
                            </li>
                        </ul>
                    </td>
                </tr>




                <tr>
                    <td class="col-md-4">
                        <h6><b>Fijaciones de Host</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#class.active">class.active</a>
                            </li>
                            <li>
                                <a href="#class.dirty">class.dirty</a>
                            </li>
                            <li>
                                <a href="#class.disabled">class.disabled</a>
                            </li>
                            <li>
                                <a href="#class.focus">class.focus</a>
                            </li>
                            <li>
                                <a href="#class.invalid">class.invalid</a>
                            </li>
                            <li>
                                <a href="#class.pending">class.pending</a>
                            </li>
                            <li>
                                <a href="#class.valid">class.valid</a>
                            </li>
                        </ul>
                    </td>
                </tr>


        </tbody>
    </table>
</section>




    <section>
    <h3>HostBindings</h3>        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.active"></a>
                        <span class="name">
                            <b>
                            class.active</b>
                            <a href="#class.active"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="27" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:27</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.dirty"></a>
                        <span class="name">
                            <b>
                            class.dirty</b>
                            <a href="#class.dirty"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="32" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:32</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.disabled"></a>
                        <span class="name">
                            <b>
                            class.disabled</b>
                            <a href="#class.disabled"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="17" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:17</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.focus"></a>
                        <span class="name">
                            <b>
                            class.focus</b>
                            <a href="#class.focus"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="22" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:22</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.invalid"></a>
                        <span class="name">
                            <b>
                            class.invalid</b>
                            <a href="#class.invalid"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="42" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:42</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.pending"></a>
                        <span class="name">
                            <b>
                            class.pending</b>
                            <a href="#class.pending"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="47" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:47</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="class.valid"></a>
                        <span class="name">
                            <b>
                            class.valid</b>
                            <a href="#class.valid"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="37" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:37</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>



    <section>
    
        <h3 id="inputs">
            Propiedades
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="formElement"></a>
                        <span class="name">
                            <b>
                            formElement</b>
                            <a href="#formElement"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Tipo : </i>    <code>SerControlDirective</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decoradores : </b>
                            <br />
                            <code>
                                @ContentChild(SerControlDirective)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="13" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:13</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="observer"></a>
                        <span class="name">
                            <b>
                            observer</b>
                            <a href="#observer"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Tipo : </i>    <code>Subscription</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Definido en <a href="" data-line="14" class="link-to-prism">src/form/ser-form-element/ser-form-element.component.ts:14</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Subscription } from &#x27;rxjs&#x27;;
import { Component, ContentChild, ViewEncapsulation, HostBinding } from &#x27;@angular/core&#x27;;
import { SerControlDirective } from &#x27;./ser-control.directive&#x27;;

@Component({
    selector: &#x27;ser-form-element&#x27;,
    template: &#x27;&lt;ng-content&gt;&lt;/ng-content&gt;&#x27;,
    encapsulation: ViewEncapsulation.None
})
export class SerFormElementComponent {

    @ContentChild(SerControlDirective) formElement: SerControlDirective;
    observer: Subscription;

    @HostBinding(&#x27;class.disabled&#x27;)
    get disabled() {
        return this.formElement?.disabled;
    }

    @HostBinding(&#x27;class.focus&#x27;)
    get focus() {
        return this.formElement?.focus;
    }

    @HostBinding(&#x27;class.active&#x27;)
    get active() {
        return this.formElement?.hasValue;
    }

    @HostBinding(&#x27;class.dirty&#x27;)
    get dirty() {
        return this.formElement?.dirty;
    }

    @HostBinding(&#x27;class.valid&#x27;)
    get valid() {
        return this.formElement?.valid;
    }

    @HostBinding(&#x27;class.invalid&#x27;)
    get invalid() {
        return this.formElement?.invalid;
    }

    @HostBinding(&#x27;class.pending&#x27;)
    get pending() {
        return this.formElement?.pending;
    }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Leyenda</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Elemento Html</span>
            </div>
            <div>
                <div class="color component"></div><span>Componente</span>
            </div>
            <div>
                <div class="color directive"></div><span>Elemento Html con directiva</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ng-content></ng-content></div>'
    var COMPONENTS = [{'name': 'AddressColComponent', 'selector': 'address-col-input'},{'name': 'PinInputComponent', 'selector': 'pin-input'},{'name': 'SerFilterComponent', 'selector': 'ser-filter'},{'name': 'SerFormElementComponent', 'selector': 'ser-form-element'},{'name': 'SerSelectComponent', 'selector': 'ser-select'},{'name': 'VirtualScrollerComponent', 'selector': 'virtual-scroller,[virtualScroller]'}];
    var DIRECTIVES = [{'name': 'BgImageDirective', 'selector': '[bgImage]'},{'name': 'CopyToClipboardDirective', 'selector': '[copyToClipboard]'},{'name': 'FinishTypingDirective', 'selector': '[finishTyping]'},{'name': 'GrowOnInputDirective', 'selector': '[growOnInput]'},{'name': 'LongPressDirective', 'selector': '[longPress]'},{'name': 'SDBadgeDirective', 'selector': '[sd-badge]'},{'name': 'SDBadgeItemDirective', 'selector': '[sd-badge-item]'},{'name': 'SDItemDirective', 'selector': '[sd-item]'},{'name': 'SerControlDirective', 'selector': '[serControl]'},{'name': 'SerErrorDirective', 'selector': '[serError]'},{'name': 'SerErrorsDirective', 'selector': '[serErrors]'},{'name': 'ToggleClassDirective', 'selector': '[toggleClass]'},{'name': 'WhenScrolledDirective', 'selector': '[whenScrolled]'}];
    var ACTUAL_COMPONENT = {'name': 'SerFormElementComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No hay resultados que coincidan "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'SerFormElementComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
